.header {
    right: 0;
    left: 0;
    top : 0;
    z-index: 1000;

    background-color: white;
    color: black;
  }


.body {
    scroll-behavior: smooth;
    
  }

.titulo{
    font-style: italic;
    text-align: center;
  }

.foto{
    text-align: end;
  }

.grupo{
    z-index: -1;
    text-align: center;
}

.centrar{
    text-align: center;
}

.Curso{
    margin-left: 0.5rem;
}

.aside {
    margin-top: 6.5rem;
    grid-area: 1 / 3;
    scroll-margin-top: 7rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: aliceblue;

  }

.aside a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: .3125rem;
    color: rgba(0, 0, 0, .65);
    text-decoration: none;
  }
  
